/* =====================================================
PÁGINA CARRITO
===================================================== */

.pagina-carrito {
    background-color: #f5ead7;
    padding: 80px 90px;
}
.icono-carrito img {
    width: 30px;
}

.icono-carrito {
    display: flex;
    align-items: center;
}

/* =====================================================
ENCABEZADO
===================================================== */

.encabezado-carrito {
    text-align: center;
    margin-bottom: 50px;
}

.encabezado-carrito h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: normal;
    color: #003b2d;
    margin-bottom: 15px;
}

.encabezado-carrito p {
    color: #555;
    font-size: 18px;
}

/* =====================================================
CONTENEDOR PRINCIPAL
===================================================== */

.contenedor-carrito {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* =====================================================
LISTA DE PRODUCTOS
===================================================== */

.lista-carrito {
    width: 70%;
    min-height: 250px;

    background-color: #fffaf4;
    border-radius: 18px;
    padding: 25px;

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}

/* Mensaje mientras no haya productos */
.lista-carrito::before {
    content: "Los productos agregados aparecerán aquí.";
    color: #777;
    font-size: 16px;
}

/* =====================================================
RESUMEN
===================================================== */

.resumen-compra {
    width: 30%;
    background-color: #fffaf4;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}

.resumen-compra h2 {
    font-family: Georgia, serif;
    color: #003b2d;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 25px;
}

/* Filas */
.fila-resumen {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    color: #444;
}

/* Línea */
.linea {
    border-top: 1px solid #d8b7a3;
    margin: 20px 0;
}

/* Total */
.total-carrito {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    color: #003b2d;
}

/* Botón */
.btn-finalizar {
    width: 100%;
    margin-top: 25px;
    padding: 14px;

    border: none;
    border-radius: 10px;

    background-color: #003b2d;
    color: #f5ead7;

    font-size: 16px;
    cursor: pointer;
}

.btn-finalizar:hover {
    background-color: #005540;
}

/* =====================================================
CELULAR
===================================================== */

@media (max-width: 768px) {

    .pagina-carrito {
        padding: 50px 25px;
    }

    .contenedor-carrito {
        flex-direction: column;
    }

    .lista-carrito,
    .resumen-compra {
        width: 100%;
    }

    .encabezado-carrito h1 {
        font-size: 48px;
    }

    .encabezado-carrito p {
        font-size: 16px;
    }
}