/*=============
Reset 
===============*/
* {
    margin: 0;
    padding: 0;
    /* Hace que el padding no aumente el tamaño total */
    box-sizing: border-box;
}

/*=============
Body
===============*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5ead7;
}

/*=============
Header
===============*/
.header {
    width: 100%;
    background-color: #003b2d;
    /* Flexbox sirve para acomodar el logo y el menú */
    display: flex;
    /* Separa el logo y el menú */
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

/*=============
Logo
===============*/
.logo h1 {
    color: #f5ead7;
    font-size: 65px;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 55px;
}

.logo p {
    color: #f5ead7;
    font-size: 12px;
    letter-spacing: 4px;
    margin-left: 6px;
}

/*=============
Menu de navegación
===============*/
.menu ul {
    
    display: flex;
    list-style: none;
    /* Da el espacio entre opciones */
    gap: 35px;
}

/*=============
Cambia color al pasar el mouse
===============*/
.menu a {
    color: #f5ead7;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}
.menu a.activo {
    color: #c7d39f;
}
.menu a:hover{
    color: #c7d39f;
    border-bottom: 2px solid #c7d39f;
    padding-bottom: 5px;
}

/*=============
Confi de los iconos de la barra
===============*/
.iconos{
    display: flex;
    align-items: center;
    gap: 20px;
}

.iconos button{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.iconos button:hover{
    transform: scale(1.1);
}
.iconos img{
    width: 30px;
}
/*=============
Confi de la imagen del arbol de cerezos
===============*/
.cerezos {
    width: 100%;
    height: 650px;
    background-image: url("../assets/images/cerezos.png");
    background-size: cover;
    /*cubra toda la sección*/
    background-position: center;
    /*Para que no se repita la imagen*/
    background-repeat: no-repeat;
}

.contenido-cerezos {
    padding-top: 120px;
    padding-left: 80px;
    color: #f5ead7;
}

.contenido-cerezos h1 {
    font-size: 70px;
    font-family: Georgia, serif;
    line-height: 75px;
    margin-bottom: 30px;
}

.contenido-cerezos p {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
    width: 600px;
}



/*=============
Confi de los botones en la imagen principal
===============*/
.botones {
    display: flex;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.btn-ver {
    background-color: #b7bf8f;
    color: white;
}

.btn-nosotros {
    border: 2px solid #f5ead7;
    color: #f5ead7;
}


/*estilos que van a heredar todos los elementos de las paginas*/

/*===================
colecciones,titulo
====================*/
.colecciones {
    padding: 20px 60px 80px;

}

.titulo-seccion {
    text-align: center;
    margin-bottom: 50px;
}

.titulo-seccion h2 {
    font-family: Georgia, serif;
    font-size: 38px;
    font-weight: normal;/*sin negrita*/
    color: #1a1a1a;
    margin-bottom: 15px;

}

.tarjeta-coleccion {
    width: 280px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: inherit;
}
/*================
cada tarjeta individual
======================*/
.contenedor-colecciones {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/*==================
foto de cada tarjeta
*/
.tarjeta-coleccion img {
    width: 100%;
    height: 200px;
    object-fit: cover; /*para que las imagenes se ajusten al tamaño sin deformarse*/
    display: block;/*elimina el espacio debajo de las imagenes*/

}

/* Parte inferior de la tarjeta con nombre y enlace */
.tarjeta-info {
    padding: 20px;
    transition: 0.3s;
}
.tarjeta-coleccion:hover .tarjeta-info{
    transform: translateY(-10px);
}

.tarjeta-info h3 {
    font-family: Georgia, serif;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 6px;
}

.tarjeta-info p {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
/*color de fondo de cada tarjeta*/
.tarjeta-rosa{
    background-color: #c97070;
    color:#f5ead7;
}
.tarjeta-crema{
    background-color: #e7d1a7f8;
    color:#3a3a3a;
}
.tarjeta-beige{
    background-color: #e8d9b0;
    color:#3a3a3a;
}
.tarjeta-verde{
    background-color: #003b2d;
    color:#f5ead7;
}
/*=============
ICONO DEL CARRITO
===============*/

.icono-carrito {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icono-carrito img {
    width: 30px;
}

.icono-carrito:hover {
    transform: scale(1.1);
}

/* =====================================================
HACE QUE SE OCULTE Y MUESTRE LA HAMBURGUESA
===================================================== */
.menu-toggle {
    display: none;
}

.menu-button {
    display: none;
    width: 38px;
    height: 32px;
    cursor: pointer;
}

.menu-button span {
    display: block;
    height: 4px;
    margin-bottom: 6px;
    background-color: #f5ead7;
    border-radius: 4px;
}
/* =====================================================
HAMBURGUESA
===================================================== */
@media (max-width: 700px) {

    .header {
        position: relative;
        padding: 20px;
    }

    .logo h1 {
        font-size: 45px;
        line-height: 42px;
    }

    .logo p {
        font-size: 10px;
    }

    .menu-button {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        background-color: #003b2d;
        padding: 15px;
        z-index: 999;
    }

    .menu-toggle:checked ~ .menu {
        display: block;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .iconos {
        display: flex;
    }

    .cerezos {
        height: auto;
    }

    .contenido-cerezos {
        padding: 80px 25px;
    }

    .contenido-cerezos h1 {
        font-size: 48px;
        line-height: 55px;
    }

    .contenido-cerezos p {
        width: 100%;
        font-size: 20px;
        line-height: 34px;
    }

    .botones {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;
        margin-bottom: 80px;
    }

    .tarjeta-coleccion {
        width: 90%;
    }

    .nosotros {
        flex-direction: column;
        text-align: center;
    }

    .texto-nosotros {
        width: 100%;
    }

    .imagen-nosotros img {
        width: 100%;
        height: auto;
    }
}
/* =========================
TABLET
========================= */
@media (max-width: 900px) {

    .header {
        padding: 20px 30px;
    }

    .menu ul {
        gap: 20px;
    }

    .contenido-cerezos h1 {
        font-size: 55px;
    }
}
/* =========================
CELULAR
========================= */
@media (max-width: 700px) {

    .menu-button {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        background-color: #003b2d;
        padding: 15px;
    }

    .menu-toggle:checked ~ .menu {
        display: block;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .contenido-cerezos h1 {
        font-size: 48px;
    }

    .contenido-cerezos p {
        width: 100%;
    }

    .nosotros {
        flex-direction: column;
    }
}
/* =========================
CELULAR PEQUEÑO
========================= */
@media (max-width: 420px) {

    .logo h1 {
        font-size: 35px;
    }

    .contenido-cerezos h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}