/*=============
Reset 
===============*/
*{
    margin: 0;
    padding: 0;
    /* Hace que el padding no aumente el tamaño total */
    box-sizing: border-box;
}
/*=============
Body
===============*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5ead7;
}
/*=============
Header
===============*/
.header{
    width: 100%;
    background-color: #003b2d;
    /* Flexbox sirve para acomodar el logo y el menú */
    display: flex;
    /* Separa el logo y el menú */
    justify-content: space-between;   
    /* Centra las cosas verticalmente */
    align-items: center;
    padding: 20px 60px;
}
/*=============
Logo
===============*/
.logo h1{
    color: #f5ead7;
    font-size: 65px;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 55px;
}

.logo p{
    color: #f5ead7;
    font-size: 12px;
    letter-spacing: 4px;
    margin-left: 6px;
}
/*=============
Menu de navegación
===============*/
.menu ul{   
    /* Flexbox sirve para poner el menú horizontal */
    display: flex;
    list-style: none;
    /* Da el espacio entre opciones */
    gap: 35px;
}
/*=============
Cambia color al pasar el mouse
===============*/
.menu a{
    color: #f5ead7;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
/*=============
Confi de la imagen del arbol de cerezos
===============*/
.cerezos{
    width: 100%;
    height: 650px;
    background-image: url("../assets/images/cerezos.png");
    background-size: cover;
    /*cubra toda la sección*/
    background-position: center;
    /*Para que no se repita la imagen*/
    background-repeat: no-repeat;
}